$logo-color: #e27c3e;
$primary: $logo-color !default;

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

@include media-breakpoint-up(xl) {
  .nav-link.active {
    border-bottom: 2px solid $logo-color;
  }
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
}

.bg-featured-blog {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 15rem;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.wordlist.view-list {
  list-style-type: none;

  li {
    display: inline;
    margin: 0 10px 0 0;
    padding: 0;

    &:last-child {
      a:after {
        content: "";
      }
    }

    a:after {
      content: ",";
    }
  }

}

.wordlist.view-def {
  list-style-type: decimal;
}
