{% if users is not defined and leaderboard is defined %}
    {% set users = leaderboard %}
{% endif %}

{% for user in users %}
    <tr>
        <td>
            <a href="{{ path('user_profile', {login: user.login, _locale: app.request.locale}) }}" class="btn btn-dark">{{  user.login }}</a>
        </td>
        <td>{{ user.rank }}</td>
        <td>{{ user.elo }}</td>
    </tr>
{% endfor %}
