{% extends 'base.html.twig' %}

{% block title %}{{ 'Leaderboard' | trans }}{% endblock %}

{% block body %}
    <div class="text-center mb-5">
        <h1 class="fw-bolder">{{ 'Leaderboard' | trans }}</h1>
    </div>

    <div class="row gx-5 justify-content-center"
            {{ stimulus_controller('get-next-page') }}
         data-get-next-page-page-value="1"
         data-get-next-page-limit-value="{{ limit }}"
    >
        <div class="col-lg-8 col-xl-8">
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">{{ 'Username' | trans }}</th>
                    <th scope="col">{{ 'Rank' | trans }}</th>
                    <th scope="col">{{ 'ELO' | trans }}</th>
                </tr>
                </thead>
                <tbody {{ stimulus_target("get-next-page", "container") }}>
                {% include 'leaderboard/_page-body.html.twig' with {'users': leaderboard} %}
                </tbody>
            </table>
            <div class="d-grid">
                <button {{ stimulus_action("get-next-page", "getNext") }}
                        class="btn btn-primary btn-lg" id="submitButton"
                        type="submit">
                    <span class="text-white fw-bold">{{ 'GET NEXT' | trans }}</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
