{% extends 'base.html.twig' %}

{% block title %}{{ 'User Search' | trans }}{% endblock %}

{% block body %}
    <div class="text-center mb-5">
        <h1 class="fw-bolder">{{ 'User Search' | trans }}</h1>
    </div>

    <div class="row gx-5 justify-content-center" {{ stimulus_controller("get-next-page") }}
         data-get-next-page-url-value="{{ path('user_search') }}"
         data-leaderboard-limit-value="{{ constant('App\\Query\\UserSearchQueryInterface::SEARCH_LIMIT') }}"
    >
        <div class="col-lg-8 col-xl-8">
            <div class="form-floating mb-3">
                <input type="text"
                       id="inputSearch"
                       placeholder="Enter username or email ..." class="form-control"
                       value="{{ q }}"
                       data-get-next-page-target="inputSearch"
                        {{ stimulus_action("get-next-page", "search") }}
                       autofocus>
                <label for="inputSearch">{{ 'User Search' | trans }}</label>
            </div>
            <table class="table table-dark table-hover">
                <thead>
                <tr>
                    <th scope="col">{{ 'Username' | trans }}</th>
                    <th scope="col">{{ 'Rank' | trans }}</th>
                    <th scope="col">{{ 'ELO' | trans }}</th>
                </tr>
                </thead>
                <tbody {{ stimulus_target("get-next-page", "container") }}>
                {% include 'leaderboard/_page-body.html.twig' with {users} %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
