{% extends 'base.html.twig' %}

{% block title %}{{ 'User Profile' | trans }} {{ user.login }}{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container px-6 my-6">
            <div class="text-left mb-5">
                <h1 class="fw-bolder text-capitalize">{{ user.login }}</h1>
                <p class="lead fw-normal text-muted mb-4">{{ 'Last online:' | trans }} {% if user.lastOnlineAt is defined %}{{ user.lastOnlineAt|timeago }}{% else %}-{% endif %}</p>
            </div>

        </div>
    </section>

    <div class="bg-light">
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h2 class="fw-bolder mb-0">{{ 'Stats' | trans }}</h2>
                    </div>
                    <div class="col-lg-8">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            <div class="col mb-5 h-100 text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                            class="bi bi-bar-chart-fill"></i></div>
                                <h2 class="h5">{{ user.elo }}</h2>
                                <p class="mb-0">{{ 'ELO' | trans }}</p>
                            </div>
                            <div class="col mb-5 h-100 text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                            class="bi bi-bar-chart-fill"></i></div>
                                <h2 class="h5">{{ user.rank }}</h2>
                                <p class="mb-0">{{ 'Rank' | trans }}</p>
                            </div>
                            <div class="col mb-5 h-100 text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                            class="bi bi-bar-chart-fill"></i></div>
                                <h2 class="h5">{{ user.wins }}</h2>
                                <p class="mb-0">{{ 'Wins' | trans }}</p>
                            </div>
                            <div class="col mb-5 h-100 text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                            class="bi bi-bar-chart-fill"></i></div>
                                <h2 class="h5">{{ user.looses }}</h2>
                                <p class="mb-0">{{ 'Looses' | trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="fw-bolder mb-0">{{ 'History' | trans }}</h2>
                </div>
            </div>


        </div>
    </section>
{% endblock %}
