{% for word in words %}
    <li>
        <a href="{{ path('show_word', {word: word.word, _locale: app.request.locale}) }}">{{ word.word }}</a>
        {% if view == 'def' %}
            <p class="description font-weight-light font-italic">
                <i class="bi bi-check text-success"></i>{% if search is not empty %}{{ word.description | highlight([search]) }}{% else %}{{ word.description }}{% endif %}
            </p>
        {% endif %}
    </li>
{% endfor %}
