{% extends 'base.html.twig' %}

{% block title %}{{ 'Explore the Words' | trans }}{% endblock %}

{% block body %}
    <div class="text-left mb-5" {{ stimulus_controller("get-next-page") }}>
        <div class="text-center">
            <h1 class="fw-bolder">{{ 'Explore the Words' | trans }}</h1>
            <p class="description font-weight-light font-italic">
                {{ 'Explore our library of over {total} words' | trans({'{total}': totalCount}) }}
            </p>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <div class="btn-group">
                            <a href="{{ path('dictionary', app.request.attributes.get('_route_params') | merge({_locale: app.request.locale, lang: language, view: 'def'}, app.request.query.all())) }}"
                               class="btn btn-sm btn-secondary{% if view == 'def' %} active{% endif %}"{% if view == 'def' %} aria-current="page"{% endif %}>{{ 'definition & notes' | trans }}</a>
                            <a href="{{ path('dictionary', app.request.attributes.get('_route_params') | merge({_locale: app.request.locale, lang: language, view: 'list'}, app.request.query.all())) }}"
                               class="btn btn-sm btn-secondary{% if view == 'list' %} active{% endif %}"{% if view == 'list' %} aria-current="page"{% endif %}>{{ 'only words' | trans }}</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="btn btn-light dropdown-toggle btn-sm" href="#" role="button"
                           id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ language|locale_name(app.request.locale)|u.title }}
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            {% for language in supported_languages | split('|') %}
                                <li><a class="dropdown-item"
                                       href="{{ path('dictionary', app.request.attributes.get('_route_params') | merge({_locale: app.request.locale, lang: language, view: view}, app.request.query.all())) }}">{{ language | locale_name(app.request.locale) | u.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>

                <div class="d-flex">
                    <input class="form-control me-2 input-sm" {{ stimulus_target("get-next-page", "inputSearch") }}
                           type="search"
                            {{ stimulus_action("get-next-page", "search") }}
                           placeholder="Search" aria-label="Search">
                </div>
            </div>
        </nav>

        <div class="col-lg-8 col-xl-8">
            <div class="row gx-5 justify-content-left px-3 py-3">
                <ol {{ stimulus_target("get-next-page", "container") }} class="wordlist view-{{ view }}">
                    {% include 'dictionary/_page-body.html.twig' %}
                </ol>
                <div class="d-grid">
                    <button {{ stimulus_action("get-next-page", "getNext") }}
                            class="btn btn-primary btn-lg" id="submitButton"
                            type="submit">
                        <span class="text-white fw-bold">{{ 'GET NEXT' | trans }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
