{% extends 'base.html.twig' %}

{% block title %}{{ 'Explore the Words' | trans }}{% endblock %}

{% block body %}
    <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
        <div class="text-left mb-5">
            <h1 class="fw-bolder">{{ word.word }}</h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <p>{{ word.description }}</p>
        </div>
    </div>
{% endblock %}
