<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <title>🎮WORDS BATTLE: {% block title %}welcome{% endblock %}</title>

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i&display=swap"
              rel="stylesheet"/>
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand p-0 me-2" href="{{ path('homepage') }}">
                <img src="{{ asset('/images/joypad.png') }}" with="40" height="32" alt="Logo"
                     class="d-inline-block align-text-top"> {{ project_title }}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a
                                class="nav-link{% if app.request.attributes.get('_route') == 'leaderboard' %} active{% endif %}"
                                href="{{ path('leaderboard') }}">{{ 'Leaderboard' | trans }}</a></li>
                    <li class="nav-item"><a
                                class="nav-link{% if app.request.attributes.get('_route') == 'user_search' %} active{% endif %}"
                                href="{{ path('user_search') }}">{{ 'User Search' | trans }}</a></li>
                    <li class="nav-item"><a
                                class="nav-link{% if app.request.attributes.get('_route') == 'match_up' %} active{% endif %}"
                                href="{{ path('match_up') }}">{{ 'Match Up' | trans }}</a></li>
                    <li class="nav-item"><a
                                class="nav-link{% if app.request.attributes.get('_route') == 'dictionary' %} active{% endif %}"
                                href="{{ path('dictionary') }}">{{ 'Dictionary' | trans }}</a></li>

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">{{ 'Admin' | trans }}</a>
                        </li>
                    {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-language" role="button"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.request.locale|locale_name(app.request.locale)|u.title }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-language">
                            {% for locale in supported_locales | split('|') %}
                                <li><a class="dropdown-item"
                                       href="{{ path(app.request.attributes.get('_route', 'homepage'), app.request.attributes.get('_route_params')|default([])|merge({_locale: locale})) }}">{{ locale | locale_name | u.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="py-5">
        <div class="container px-5 my-5">
            {% block body %}{% endblock %}
            <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                        <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                    </div>
                    <div class="ms-xl-4">
                        <div class="input-group mb-2">
                            <input class="form-control" type="text" placeholder="Email address..."
                                   aria-label="Email address..." aria-describedby="button-newsletter"/>
                            <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                        </div>
                        <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</main>

<!-- Footer-->
<footer class="bg-dark py-4 mt-auto" {{ stimulus_controller("scroll-to-top") }}>
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto">
                <div class="small m-0 text-white">Copyright &copy; Words Battle {{ 'now' | date('Y') }}</div>
            </div>
            <div class="col-auto">
                <a class="link-light small" href="#!">Privacy</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Terms</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="#!">Contact</a>
            </div>
        </div>
    </div>
    <button type="button"
            {{ stimulus_action('scroll-to-top', 'scrollTop') }}
            {{ stimulus_target('scroll-to-top', 'btn') }}
            class="btn btn-primary btn-floating btn-lg rounded-circle text-white fw-bold"
            id="btn-back-to-top">
        <i class="bi bi-arrow-up"></i>
    </button>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
